/* - - - - - - - - - - G E N E R A L - - - - - - - - - - */

body{
    font-family: 'Catamaran', sans-serif;
    background-color: lightgrey;
}

hr{
    clear:both;
    visibility: hidden;
    display: block;
}

article{
    padding:30px 100px 30px 100px;
}

h2{
    margin: auto;
    padding-bottom: 30px;
    letter-spacing: 5px;
}



/* - - - - - - - - - - N A V I G A T I O N - - - - - - - - - - */

nav{
    margin-top: -20px;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0px 3px 10px grey;
} 

.home {
    margin-block-start: 1em;
    margin-left: 10px;
    float: left;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    justify-content: flex-end;
}

nav li{
    display: inline-block;
    padding: 0 20px;
}

#infos{
    width: 50px;
}

.nav{
    text-decoration: none;
    color: lightgrey;
}

a:hover{
    color: grey;
}

.orange{
  color: #FF7C00;
}


/* - - - - - - - - - - E N T E T E - - - - - - - - - - */

.paralax{
    background-image: url("../images/Tilda/Tilda_2.jpg");
    background-position: 70%;
    background-size: cover;
    margin-top: 20px;
    background-attachment: fixed;
    padding: 150px;
    box-shadow: 0px 3px 10px grey;
}

.paralax h1{
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 100px;
    letter-spacing: 15px;
    text-shadow: grey 1px 0 5px;
}

/* - - - - - - - - - - B I O G R A P H I E - - - - - - - - - - */
.scroll {
    margin: -120px auto 50px;
    padding: 30px 30px 30px;
    width: 650px;
    height: 300px;
    color: grey;
    background-color: white;
    overflow: scroll;
}


.scroll h2{
    width: 600px;
    margin: auto;
    padding-bottom: 30px;
    letter-spacing: 5px;
}

.scroll p {
    width: 600px;
    margin: auto;
    text-align: justify;
}


.alinea { 
  text-indent: 20px; 
}

.bold{
    font-weight: bold;
    text-transform: uppercase;
}


/* - - - - - - - - - - C I T A T I O N - - - - - - - - - - */

#Replique {

}

#Replique quote {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: 60px;
}

#Replique p {
    font-style: italic;
    font-size: 16px;
    float: right;
    margin-right: 210px;
}


/* - - - - - - - - - - B L O C 1 - - - - - - - - - - */

#Bloc_1{
    display: inline-flex;
    padding-top: 100px;
    padding-bottom: 40px;
}

#Tilda{
    background-image: url("../images/Tilda/Tilda_5_OLLA.jpg");
    background-size: 400%;
    background-position: 450px 0px ;
    width: 300px;
    box-shadow: 0px 3px 10px grey;
    margin: 20px;
}

#Things{
    color: grey;
    background-color: white;
    width: 400px;
    padding:20px;
    margin: 20px;
}


#Inspire{
    width: 40%;
    color: grey;
    background-color: white;
    padding:20px;
    margin: 20px;
}


/* - - - - - - - - - - B L O C 2 - - - - - - - - - - */

#Bloc_2{
    margin: -65px 20px 0px 20px;
    padding:20px;
    color: grey;
    background-color: white;
}

h3{
    margin: 0px auto 50px 30px;
    padding-left: 50px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: 35px;
}

/* - - - - - - - - - - B L O C 3 - - - - - - - - - - */
#Bloc_3{
    width: 690px;
    height: 490px;
    margin: 110px 20px 30px 20px;
    padding:20px;
    color: grey;
    background-color: white;
}

#Slide{
    display: inline-flex;
    width: 650px;
    height: 400px;
    margin: 0px 0px 20px 20px;
    background-color: black;
    overflow: hidden;
}

img {
    width: 100%;
}

.miniatures {
    width: 50px;
}

